.CommentWrapper { margin-top: 10px; }
.CommentPager
{
	width: 100%;
	background: #444;
	border-top: solid 3px #000;
	padding: 10x 7px 11px 10px;	
}
.comment
{
	border-bottom: dotted 1px #ccc;
	padding: 0px 0px 10px 0px;
	width: 100%
}
.alternate
{
	background: #CCCCCC;
}
.Selected TD
{
	background: transparent;
}
.mycomment, .mycomment .comment
{
	background-color: transparent;
}

.hiddenElement {
	display: none;
}

.blockElement {
	display:block;
}

.commentUser a { font-weight: bold; }

.commentInfo { color: #666; font-size: 80%; margin-bottom: 4px; }
.commentInfo a, .commentInfo a:link, .commentInfo a:visited, .commentInfo a:hover { color: #666; font-size: 100%; font-weight:normal; }
.commentInfo a:hover { text-decoration: underline; }