<a name="c[COMMENTID]"></a>
<div class="comment [YourCommentCss]">
    <div style="float:left; padding:1px;">[MINIPROFILE:WALL]</div>
    <div style="padding:1px;">
        <div class="commentUser">
            <a href="[SUBMITTEDBYURL]">[SUBMITTEDBY]</a>
        </div>
        <div class="commentInfo">
            <abbr class="timeago" data-timeago="[SUBMITTEDISODATE]" enable="[ENABLETIMEAGO]">[SHORTESTDATETEXT:MMMM dd, yyy @@ h--mm tt]</abbr>[ISEDITABLE]&nbsp;|&nbsp;[EDIT]&nbsp;&bull;&nbsp;[DELETE][/ISEDITABLE]
        </div>
        <div class="commentContent">
            [COMMENT]
        </div>
    </div>
</div>