<table class="WallItemWrapper" width="99%" border="0" cellspacing="0" cellpadding="0">
    <tr valign="top">
        <td class="WallProfile" align="left">[FROMAVATARMINI]</td>
        <td class="WallContent" align="left">
            <div class="WallContentMessage"><a class="WallContentUserInfo" href="[FROMPROFILELINK]">[FROMDISPLAYNAME]</a>[NOTOWNPOST][HASNOPROFILE] &raquo; <a class="WallContentUserInfo" href="[TOPROFILELINK]">[TODISPLAYNAME]</a>[/HASNOPROFILE][HASPROFILE][NOTFROMCURRENTPROFILE] &raquo; <a class="WallContentUserInfo" href="[TOPROFILELINK]">[TODISPLAYNAME]</a>[/NOTFROMCURRENTPROFILE][/HASPROFILE][/NOTOWNPOST] [MESSAGE]</div>
            <div class="WallContentInfo">
                <a href="[WALLITEMURL]">[SHORTESTDATETEXT:MMMM dd, yyy @@ h--mm tt]</a> | [COMMENTLINK][HASDELETEPERMISSION] &bull; [DELETELINK] &bull; [EDITLINK][/HASDELETEPERMISSION]
            </div>
            [COMMENT]
        </td>
    </tr>    
</table>