<div class="Comment [CurrentUserCommentCSS]"  style="display: block ! important;">
    <div class="CommentLeftPane">
        <div class="CommentUserAvatar">[MINIPROFILE:EventList]</div>
    </div>  
    <div class="CommentRightPane">
        <div class="CommentInfo">
            <strong><a class="CommentUserLink" href="[SUBMITTEDBYURL]">[SUBMITTEDBY]</a></strong> wrote: [ISNOTTODAY]on [SUBMITTEDDATE:MMM dd, yyy hh--mm tt][/ISNOTTODAY][ISTODAY]<strong>[DAYSHOURSMINUTES]</strong>[/ISTODAY]
        </div>
        <div class="CommentContent">
            [COMMENT]
        </div>
        <div class="CommentLinks">
            <a class="PermalinkLink" href="[PERMALINK]">Permalink</a>&nbsp;|&nbsp;[FLAGGING:Popup][ISEDITABLE]&nbsp;|&nbsp;[EDIT]&nbsp;|&nbsp;[DELETE][/ISEDITABLE]
        </div>
    </div>  
</div>