<table border="0" class="Members-block">
  <tr>
    <td><div class="gpGalleryPhotostb2"><div class="gpGalleryPhotos">
    <div class="gpGalleryPhotosthumbnail-frame"><a href="[PROFILELINK]"><img src="[AvatarMiniUrl]" border="0"  title="[DISPLAYNAME] :: Points: [KARMA] :: Level: [LEVEL]" /></a></div>
</div></div></td>
  </tr>
  <tr>
    <td><div class="MemberInfo">
         <div id="MemberNameLink" title="[DISPLAYNAME]"><a href="[PROFILELINK]">[DISPLAYNAME]</a></div>
        </div></td>
  </tr>
</table>