[PAGESIZE:10]
[COMMENTRSSMAX:25]
<table border="0" cellpadding="0" cellspacing="2" width="100%">
    [COMMENTSVISIBLE]
    <tr>
        <td>[PAGING]</td>
    </tr>
    <tr>
        <td>
            [COMMENTLIST]
        </td>
    </tr>
    <tr>
        <td>[PAGING]</td>
    </tr>
    [/COMMENTSVISIBLE]
    [USERCANCOMMENT]
    <tr>
        <td>[COMMENTRSS]<br /></td>
    </tr>
    <tr>
        <td>Comment</td>
    </tr>
    <tr>
        <td>[COMMENT:width=300:cssclass=NormalTextBox:Height=100]</td>
    </tr>
    <tr>
        <td>[COMMENTBUTTON:Submit][THANKYOU][PROGRESS:Posting Comment]</td>
    </tr>
    [/USERCANCOMMENT]
</table>