[FlagLink]
<table id="[PopUpControlId]" width="400px" border="0" cellspacing="1" cellpadding="1" style="float:left;display:none;">
    <tr>
        <td><strong>Your Reports Help Protect the Community</strong></td>    
    </tr>
    <tr>
        <td>
            
            The community depends on each member to help keep Answers a safe and positive place. Do your part by using the form below to report Q&A that violates the Community Guidelines.
            
        </td>
    </tr>
    <tr>
        <td>Additional Detail(optional)<br />[AdditionMessage:WIDTH=300,Height=100,MinHeight=100,MaxHeight=300,MinWidth=100,MaxWidth=500,Ghost=True,IsResizable=True]</td>
    </tr>
    <tr>        
        <td>
            [FlagLinkButton][CancelLinkButton]
        </td>
    </tr>
    
</table>