<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td height="25px" class="maplocation_border maplocation_latlong"><div class="NormalBold">&nbsp;Enter  Address Below</div></td>
    </tr>    
    <tr>
        <td class="maplocation_border maplocation_latlong"><div align="center" id="[MapControlId]" style="width:550px; height:300px;"><br /></div></td>
    </tr>
    <tr>
      <td height="25px" class="maplocation_border maplocation_latlong"><div class="NormalBold">&nbsp;Latitude &amp; Longitude will populate when searching for a location.</div></td>
    </tr>
    <tr>
      <td class="maplocation_border"><table border="0" cellpadding="3" cellspacing="4">
        <tr valign="middle">
          <td>Latitude:</td>
          <td>[LatControl]</td>
          <td>Longitude:</td>
          <td>[LongControl]</td>
        </tr>
      </table></td>
    </tr>
</table>