<div class="comment [CurrentUserCommentCSS]"  style="display: block ! important;">
  <div class="UserInfo">
    <div class="userAvatar">[MINIPROFILE]</div>
     <h3 class="SubHeader" id="UserTextLink"><a href="[SUBMITTEDBYURL]">[SUBMITTEDBY]</a> <span>said</span></h3>
  </div>  
  <div class="UserText">
    <div class="Arrow"></div>
    <p>
      <!-- Response Timestamp -->
      <span>on [SUBMITTEDDATE]</span>
      <br />
      <!-- Response Content -->
      [COMMENT]</p>
  </div>
  <div class="IsEditTable"><span id="PermalinkLink"><a href="[PERMALINK]">Permalink</a></span>&nbsp;&nbsp;[ISEDITABLE]<span id="IsEditTableLink">[EDIT]&nbsp;&nbsp;[DELETE]</span>[/ISEDITABLE]</div>
</div>