<table width="100%" border="0" cellspacing="1" cellpadding="1" style="float:left;">
    <tr>
        <td colspan="2"><strong>Privacy:</strong></td>    
    </tr>
    [PrivacyReady]
    
    <tr>
        <td>&nbsp;</td>
        <td><br />[PRIVACYSAVEBUTTON:Save Privacy]</td>
    </tr>
    [/PrivacyReady]
    
    [PrivacySaved]
    <tr>
        <td>Privacy Setting Saved! </td>
    </tr>
    <tr>
        <td><a href="javascript:history.go(-1);">Return</a></td>
    </tr>
    [/PrivacySaved]
    
</table>