[HoverStatistics]
[AlertMessage]
<div>[RATINGAUTO][THANKYOU]</div>

<div id="[HoverStatisticsControl]" style="display:none">  
    <table class="tooltip" border="0" cellspacing="1" cellpadding="1">
        <thead>
            <td colspan="2" nowrap><Strong>Rating Distribution([RATECOUNT] Ratings)</Strong></td>
        </thead>
        <tr>
            <td nowrap>1 Star</td>
            <td align="left" width="150px">[RATINGSTAT:.5-1.5]</td>                                
            <td align="right">[RATINGVOTES:.5-1.5]</td>
        </tr>
        <tr>
            <td nowrap>2 Star</td>
            <td align="left" width="150px">[RATINGSTAT:2-2.5]</td>                
            <td align="right">[RATINGVOTES:2-2.5]</td>
        </tr>
        <tr>
            <td nowrap>3 Star</td>
            <td align="left" width="150px">[RATINGSTAT:3-3.5]</td>                
            <td align="right">[RATINGVOTES:3-3.5]</td>
        </tr>
        <tr>
            <td nowrap>4 Star</td>
            <td align="left" width="150px">[RATINGSTAT:4-4.5]</td>                
            <td align="right">[RATINGVOTES:4-4.5]</td>
        </tr>
        <tr>
            <td nowrap>5 Star</td>
            <td align="left" width="150px">[RATINGSTAT:5-5.5]</td>                
            <td align="right">[RATINGVOTES:5-5.5]</td>
        </tr>
    </table>    
</div>