<li class="TimelineElement TwoColumn RightColumn clearfix">
    [WALLITEMCONTROLID]
    <div class="Container">
        <div class="ItemHeader[FROMFACEBOOK] FacebookFeed[/FROMFACEBOOK]">
            <div class="ItemPicture">[FROMAVATARMINI]</div>
            <div class="ItemInfo">
                <a class="ItemInfoUser" href="[FROMPROFILELINK]">[FROMDISPLAYNAME]</a>[NOTOWNPOST][HASNOPROFILE] &raquo; <a class="WallContentUserInfo" href="[TOPROFILELINK]">[TODISPLAYNAME]</a>[/HASNOPROFILE][/NOTOWNPOST]
                <a class="ItemInfoDate" href="[WALLITEMURL]">[SHORTESTDATETEXT:MMMM dd, yyy @@ h--m tt]</a>
            </div>
        </div>
        <div class="ItemContent">[MESSAGE]</div>
        <div class="ItemContentOptions">
             [COMMENTLINK][HASDELETEPERMISSION] &bull; [DELETELINK] &bull; [EDITLINK][/HASDELETEPERMISSION]
        </div>
        [COMMENT:WALL]
    </div>
    <i class="spinePointer"></i>
</li>