[PAGESIZE:4]
[COMMENTRSSMAX:25] 
<table border="0" cellpadding="0" cellspacing="2" width="100%">
    <tr>
        <td>[PAGING]</td>
    </tr>
    <tr>
        <td>
            [COMMENTLIST]
        </td>
    </tr>
    <tr>
        <td>[PAGING]</td>
    </tr>
    <tr>
        <td>[COMMENTRSS]<br /></td>
    </tr>
    <tr>
        <td>[CAPTCHA:width=200:errorstyle=NormalRed:Height=30]</td>
    </tr>
    <tr>
        <td><em>[CAPTCHAVALIDATOR]</em></td>
    </tr>
    <tr>
        <td>Comment</td>
    </tr>
    <tr>
        <td>[COMMENTCONTROL:width=300:cssclass=NormalTextBox:Height=100]</td>
    </tr>
    <tr>
        <td><em>[COMMENTVALIDATOR]</em></td>
    </tr>
    <tr>
        <td>[COMMENTBUTTON:Submit][THANKYOU][PROGRESS:Posting Comment]</td>
    </tr>
</table>