<div style="padding-left:3px;"><table border="0" cellpadding="0" cellspacing="0" class="topfadbar">
  <tr id="[RANKBUTTONSID]">
    <td align="center" valign="middle"><table width="100%" height="1px" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="RankUp" title="Up">[RANKUP]</td>
  </tr>
  <tr>
    <td class="Rankint">[RANK]</td>
  </tr>
  <tr>
    <td class="RankDn" title="Down">[RANKDOWN]</td>
  </tr>
</table></td>
  </tr>
  <tr id="[RANKEDCONTROLID]">
    <td align="center">[RANKEDUP:Up][RANKEDDOWN:Down]<br />[CURRENTRANK]</td>
  </tr>
</table></div>
<div>[MESSAGE]</div>