[HoverStatistics]
[AlertMessage]
[RATINGAUTO]
[ThankYou]

<div id="[HoverStatisticsControl]" style="display:none">
    <div class="tooltip">        
        <table width="100%" border="0" cellspacing="1" cellpadding="1">
            <thead>
                <td colspan="2">
                    Rating Distribution([RATECOUNT] Ratings)
                    <br />
                    [HASRATING] [AVERAGE]
                </td>
            </thead>
            <tr>
                <td nowrap>1 Star</td>
                <td width="100%">[RATINGSTAT:.5-1.5]</td>                                
                <td>[RATINGVOTES:.5-1.5]</td>
            </tr>
            <tr>
                <td nowrap>2 Star</td>
                <td width="100%">[RATINGSTAT:2-2.5]</td>                
                <td>[RATINGVOTES:2-2.5]</td>
            </tr>
            <tr>
                <td nowrap>3 Star</td>
                <td width="100%">[RATINGSTAT:3-3.5]</td>                
                <td>[RATINGVOTES:3-3.5]</td>
            </tr>
            <tr>
                <td nowrap>4 Star</td>
                <td width="100%">[RATINGSTAT:4-4.5]</td>                
                <td>[RATINGVOTES:4-4.5]</td>
            </tr>
            <tr>
                <td nowrap>5 Star</td>
                <td width="100%">[RATINGSTAT:5-5.5]</td>                
                <td>[RATINGVOTES:5-5.5]</td>
            </tr>
        </table>    
    </div>
</div>