[SETTINGS:AutoGrowTextbox=True,Pagesize=20,MostRecent=3,SupportAjax=True]
[COMMENTSVISIBLE]
<table border="0" cellpadding="0" cellspacing="2" width="100%" style="padding-left:15">
    [CommentList=Recent]

    [HasComments]
    [HasMoreComments]
    [IsListView]
    <tr id="[CommentFormClientId]_ViewAllLink">
        <td><a href="[ViewAllCommentLink]">View all [CommentCount] comments</a></td>
    </tr>
    [/IsListView]
    [/HasMoreComments]
    [/HasComments]
    <tr>
        <td id="[CommentFormClientId]_Container">
            [COMMENTLIST:Recent]
        </td>
    </tr>
    
    [/CommentList]
    
    
    
    
    [CommentList=All]    
    
    <tr>
        <td>[PAGING:Hotmail]</td>
    </tr>
    <tr>
        <td id="[CommentFormClientId]_Container">
            [COMMENTLIST:All]
        </td>
    </tr>
    <tr>
        <td>[PAGING:Hotmail]</td>
    </tr>
    
    [/CommentList]
    
    [USERCANCOMMENT]
    <tr>
        <td id="[CommentFormClientId]" class="[COMMENTFORMCLASS]">
            [COMMENTCONTROL][CommentWatermark:Write a comment...]
            <br />
            [COMMENTBUTTON:Submit][THANKYOU][PROGRESS:Posting Comment]
        </td>
    </tr>
    [/USERCANCOMMENT]
    
</table>    
[/COMMENTSVISIBLE]