[PagePerSet:3]
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="Normal" align="left">[TOTALRECORDS] Items</td>
        <td class="Normal" align="right">Page [IsNotFirstSet][LINKFIRST:1:]&nbsp;&nbsp;[PREVSET]&nbsp;&nbsp;[/IsNotFirstSet] [CURRENTSET][IsNotLastSet]&nbsp;&nbsp;[NEXTSET]&nbsp;&nbsp;[LINKLAST:PAGECOUNT:][/IsNotLastSet]&nbsp;&nbsp;[PREVPAGEDISABLE]<img src="[TemplatePath]/images/prev_disable.gif" border="0" />[/PREVPAGEDISABLE][PREVPAGEENABLE]<a href="[LINKPREVIOUSURL]"><img src="[TemplatePath]/images/prev.gif" title="Previous page" border="0" /></a>[/PREVPAGEENABLE]&nbsp;&nbsp;[NEXTPAGEENABLE]<a href="[LINKNEXTURL]"><img src="[TemplatePath]/images/next.gif" border="0" title="Next page" /></a>[/NEXTPAGEENABLE][NEXTPAGEDISABLE]<img src="[TemplatePath]/images/next_disable.gif" border="0" /> [/NEXTPAGEDISABLE]</td>        
    </tr>
</table>