/* Fonts */
body {font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif}

h1 { font-size: 44px; }

h2 { font-size: 37px; }

h3 { font-size: 27px; font-weight:normal;}

h4 { font-size: 23px; font-weight:normal;}

.Normal{font-size:12px;line-height:16px;}


